.upload_file-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: var(--border-r-medium);
    overflow: hidden;
}

.upload_file-image {
    width: 100%;
    border-radius: var(--border-r-medium);
}